.bg-signup{
	background-image: url('http://papers.co/wallpaper/papers.co-ae29-os-x-yosemite-mac-apple-black-white-mountain-36-3840x2400-4k-wallpaper.jpg');
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;

}

.bg-opacity{
	background-color: #0000009e;
}

.form-content{
	max-width: 300px;
    width: 50%;
    height: 60%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.auth-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  width: 100%;
  padding: 40px;
}

.bg-opacity-0{
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background-color: #000000b8;
	position: absolute;
}

// buttons styles

.btn-minimalist{
	text-decoration: none;
	color: #ffffffb5;
	font-size: 16px;
	transition: .4s all ease-in-out;
	-webkit-transition: .4s all ease-in-out;
	-moz-transition: .4s all ease-in-out;
	-o-transition: .4s all ease-in-out;
}
.btn-minimalist:hover{
   color: #fff;
   transform: scale(1.1);
}

.btn-minimalist-invers{
	text-decoration: none;
	color: #dadada;
	font-size: 16px;
	transition: .4s all ease-in-out;
}
.btn-minimalist-invers:hover{
	transform: scale(1.1);
}
.btn-submit{
	text-align: center;
	padding: 10px;
	color: white;
	border-radius: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: -webkit-linear-gradient(1.838617rad, #00e06e 0%, rgb(0, 123, 255) 96%);
	background-image: linear-gradient(1.838617rad, #00e06e 0%, rgb(0, 123, 255) 96%);
	transition: .4s background-image ease-in-out;
	-webkit-transition: .4s background-image ease-in-out;
	-moz-transition: .4s background-image ease-in-out;
	-o-transition: .4s background-image ease-in-out;
	z-index: 100;
	&:before {
		border-radius: inherit;
		background-image: -webkit-linear-gradient(1.838617rad, rgb(0, 123, 255)  0%,  #00e06e 96%);
	    background-image: linear-gradient(1.838617rad, rgb(0, 123, 255)  0%,  #00e06e 96%);
		content: '';    
		display: block;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		opacity: 0;
		width: 100%;
		z-index: -100;
		transition: opacity 0.45s;
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}


}

  
 


